<header ic-include='{"status":"$status"}'>
    <h1>List of Todos</h1>
    <form id="todo-form" ic-post-to="/todos">
        <input id="new-todo" placeholder="Todo" name="todo-title" pattern=".{4,}" required title="> 3 chars" autofocus>
    </form>
</header>

<section id="main" ic-include='{"status":"$status"}'>
        <div>
            <a href="/users">Users</a>
            <form id="todo-form" ic-put-to="/users/maxTodos">
                <label>Max Todos</label>
                <input id="maxTodos" placeholder="$maxTodos" value="$maxTodos" ic-get-from="/" ic-trigger-on="resetEscape" name="maxTodos" autofocus>
            </form>
        </div>
            <br>
            <br>
        <div class="parent" id="todo-list">
            #foreach($todo in $todos)
            <div class="child">
                    <a href="/todos/$todo.id/edit">$todo.title</a>
                    <label id="user" value="$todo.assignee">$todo.assignee</label>
            </div>
            #end
        </div>
</section>

